body{
    font-family: 'Roboto Mono', monospace;
    background: #112237;
    color: #bec1c6;
    overflow-x: hidden;
}

.cta-btn{
    background-color: #72777c;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    height: 2rem;
    cursor: pointer;
}

.cta-btn:hover{
    background-color: #5f6163 !important;
}

.login-header{
    display: flex;
    justify-content: end;
    padding-left: 1rem;
}

.login-header ul{
    display: flex;
    gap: 0.8rem;
    list-style: none;
    align-items: flex-end;
    margin-right: 1.2rem;
}

.login-heading-row{
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 0.8rem;
}

.login-content-outline{
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 0.6rem;
    justify-items: center;
}

.login-content-heading{
    height: 2.4rem;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
}

.login-content-text{
    width: 41%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    line-height: 1.8;
}

.content-outlines{
    gap: 3.8rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}

.content-outline{
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
}

.outline-heading{
    font-size: 1.8rem;
}

.content-img{
    width: 95%;
}

/* .content-img img{ */
    /* width: 100%; */
    /* border-radius: 0.2rem; */
/* } */
/*  */
/* .content-img img:hover{ */
    /* background-color: ; */
/* } */

.content-img .content-img-box{
    position: relative;
}

.content-img-box{
    width: 100%;
    height: 100%;
}

.content-img-box img{
    width: 100%;
    border-radius: 0.2rem;
}

.content-img-box:hover img{
    opacity: 0.2;
}

.content-img-box:hover .img-overlay ul{
    visibility: visible;
}


.img-overlay{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    /* opacity: 0.6; */
    /* background: #bec1c6; */
}

.img-overlay ul{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3.8rem;
    align-items: center;
    justify-content: center;
    transform: translate(-6%,-3.6%);
}


/* form styling */
.login-form{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    /* background: gray; */
}

.form-container{
    background: #414e5f;
    width: 40%;
    display: flex;
    justify-content: center;
    overflow-y:scroll ;
    z-index: 100;
}

.form-container-above{
    position: absolute;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    /* padding-bottom: 6rem; */
}

.create-form-container,.login-form-container,.reset-form-container{
    padding: 0 2rem;
}

.form-icon-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.4rem;
    opacity: 0.4;
}

.form-icon-box .svg-icon-box{
    cursor: pointer;

}

.form-heading{
    text-align: center;
}

.form-content{
    padding-bottom: 6rem;
}

.form-content-info{
    margin-bottom: 1rem;
}

.form-div{
    display: grid;
    gap: 0.4rem;
}

.form-div input{
    border-radius: 0.2rem;
    background: none;
    height: 2.4rem;
    border: 1px solid #bec1c6;
    font-size: 1.2rem;
    color: #bec1c6;
    padding-left: 1rem;
}

.form-div input::placeholder{
    color: #72777c;
    font-size: 1.2rem;
}

.form-div input:focus{
    outline: none;
    box-shadow: 0 0 10px #90989f; 
    /* #112237; */
}

.form-submit{
    border: none;
    height: 2.4rem;
    border-radius: 0.2rem;
    background: #bec1c6;
    cursor: pointer;
    color: #72777c;
    font-size: 1rem;
    margin-top: 2rem;
}


.login-overlay{
    pointer-events: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-overlay-bkg{
    width: 100%;
    height: 100%;
    position: absolute;
    background: gray;
    opacity: 0.4;
}

.alert{
    width: 20rem;
    min-height: 4rem;
    height: auto;
    border-radius: 0.2rem;
    background-color: #4b4b4b;
    display: grid;
    grid-template-columns: auto 1fr;
    position: absolute;
    z-index: 100;
    top: 5%;
    left: 43%;
}
  
.alert-msg{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ededed;
  font-size: 1.2rem;
}

.alert-success{
  background-color: #1aff1a;
}

.alert-error{
  background-color: #660000;
}

.alert-icon{
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .alert-success-icon,.alert-error-icon{
    height: 50%;
  }
    
  .form-field-error{
    border-bottom: 3px solid #660000 !important;
  }

  .custom-loader {
    width:50px;
    height:50px;
    --c:radial-gradient(farthest-side,#112237 92%,#0000);
    background: 
      var(--c) 50% 0,
      var(--c) 50% 100%,
      var(--c) 100% 50%,
      var(--c) 0    50%;
    background-size:12px 12px;
    background-repeat:no-repeat;
    animation:s7 1s infinite;
  }
  @keyframes s7 {to{transform: rotate(.5turn)}}

  .btn-reset{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    color: #bec1c6;
  }

.reset-reset,.reset-confirm{
    flex-direction: column;
    gap: 1.6rem;
    display: flex;
}